/* Normalize */
* {
    font-family: 'Syncopate', sans-serif;
    border-left: 20px;
    border-right: 20px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* Estilos de el scrollbar  */
html::-webkit-scrollbar {
    background-color: black;
}

html::-webkit-scrollbar:vertical {
    width:7px;
}
html::-webkit-scrollbar-button html::-webkit-scrollbar-button {
    display: none;
} 
html::-webkit-scrollbar-corner{
    display: none;
}
html::-webkit-scrollbar-thumb {
    background-color: rgb(252, 252, 252);
    border-radius: 2px;
    border: none;
}
/* Estilo del titulo de la pagina */
nav {
    display: flex;
    justify-content:flex-start;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 10px;
    background-color: #000000b2;
}
nav h2{
    color: #ffffff;
    flex-basis: 80%;
    font-size: 40px;
    margin-bottom: 0;
}
nav span{
    display: flex;
    justify-content: center;
    flex-basis: 20%;
    
}
nav a{
    text-align: center;
    align-items: center;
    color: black;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    padding: 4px;
    text-align: center;
}
nav a:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.678);
    transition: all .5s ease-in-out;
}
nav a div img{
    min-width: 20px;
    min-height: auto;
}

/* Estilos generales */
body {
    min-height: 100vh;
    display: grid;
    grid-auto-rows: auto 1fr auto;

}
strong{
    font-size:small;
}
p{
    margin-bottom: 0px;
}

/* estilos de la Secion de los productos y el carrito */
.productosYCarrito {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 20px;
}

.productos {
    text-align: center;
    flex-basis: 50%;
    background-color: #0b0c0cb6;
    margin-top: 20px;
    padding: 0 20px;
}
.productosTitle{
    flex-grow: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.788);
    margin-top: 5px;
    color: #ffffff;
}

.backGround{
    background-image:url(../assets/images/prism.png);
    background-attachment:fixed;
}

footer{
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 10px;
    display: flex;
    background-color: #0000009d;
    color: white;   
    padding: 10px;
}
.contactUs{
    padding: 0 30px ;
}

.footerOtherways{
    display: inline;
    color: rgba(206, 206, 206, 0.733);
}
.footerOtherwaysLink a{
    color: rgba(206, 206, 206, 0.733);
    text-decoration: none;
}
.footerOtherwaysLink a:hover{
    color: rgba(150, 150, 150, 0.733);
}
.footerOtherwaysLink a:visited{
    color: rgba(212, 209, 209, 0.733);
}
.footerPart {
    display: flex;
    text-align: center;
    color: rgba(206, 206, 206, 0.733);
}

.contactButtons{
        display: flex;
        justify-content:flex-start;
        padding: 0 30px;
        align-items: center;
        gap: 10px;
    }
.contactButtons a:hover{
    border-bottom: 1px solid white;
}

.infoWindow{
    position: relative;
    display:block;
}
.fondoTransparente{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: small;
    font-weight: 600;
    background-image: none;
    position: absolute;
    top: 7%;
    
}
img{
    cursor: pointer;
}
.imageWhenEventActive{
    opacity:30%;
}

.productosLista{
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
    width: 100%;
    justify-content: center;
}
.polaroid_content {
    text-align: center;
    padding: 0vh 2vw;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    flex-direction:column;
    font-weight:500;
    margin-top: 5px;
    color: rgb(0, 0, 0);
}

.comics_polaroid {
    background: rgba(255, 255, 255, 0.356);
    border-radius: 10px;
    border: 1px solid rgba(19, 18, 18, 0.425);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    min-width: 140px;
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comics_polaroid_picture {
    width: 100%;
    border-radius: 10px;
    min-width: 100px;
    max-height: 250px;
    min-height: 150px;
}
.comics_polaroid_picture_cart{
    width: 100%;
    height: auto;
    border-radius: 10px;
    min-width: 100px;
}

button {
    background-color: rgba(255, 249, 249, 0.692);
    border: solid rgba(0, 0, 0, 0.589) 2px;
    border-radius: 7px;
    margin-bottom: 1px;
    margin-top: 5px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    
    
}
button:hover{
    background-color: #101740;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    color: white;
} 